<div class="dish-card">
  <div class="dish-card-header">
    {{blog_title}}
    {{author_name}}
  </div>
  <div class="card-body">
    <p>
      {{blog_body}}
      {{createdAt}}
      {{new_comment}}
    </p>

  </div>
<p>
  
</p>
</div>