{{#each blogs as |blog|}}
      <div>
        <h2>
          <a href="/blog/{{blog.id}}">{{blog.title}}</a>
        </h2>
      </div>

      <div>
        <p>Created by
          {{blog.user.username}}
          on
          {{createdAt}}
        </p>
      </div>
			
      <p>
        {{blog.blog_body}}
      </p>
{{/each}}